@import "tailwindcss";

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #db2777; 
  border-radius: 2px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9333ea;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #e5e7eb; 
}
